body{
	margin:0;
	padding:0;
	list-style:none;
	font-size:13px;
	font-family:"Century Gothic";
	}
.clear{
	clear:both;
	}
.spacer_5{
	height:5px;
	}
.form-control {
	border-radius:0;
	box-shadow:none;
	height:30px;
	border:1px solid #C5C5C5;
	padding:6px 8px;
	font-size:13px;
	}
label{
	font-weight:normal;
	}
.panel, 
.panel-primary > .panel-heading {
	border-radius:0;
	}

.btn{
	border-radius:2px;
	padding: 4px 10px;
	}
.table{
	margin:15px 0;
	border:none !important;
	}
.table th{
	background:#EBEBEB;
	border:1px solid #B1B1B1 !important;
	color:#666;
	font-weight:normal;
	text-transform:uppercase;
	}
.table > thead > tr > th:first-child, 
.table > thead > tr > td:first-child{
	border-left:none;
	} 

.table > thead > tr > th, 
.table > tbody > tr > td{
	vertical-align:middle;
	padding:4px;
	}
.table-hover > tbody > tr:hover {
    background-color: #EFF7FF;
}
.table  .table_bottom td{
	border:none;
	font-size:85%;
	}
	
.gray_cont_box{
	background:#F1F7FF;
	/*padding:15px 0;*/
	margin-bottom:15px;
	border-bottom:2px solid #E3E8F0;
	}	
.gray_cont_box h3{
	margin-top:0;
	}
.blue_box, .sky_blue_box, .yellow_box, .red_box, .green_box{
	color:#FFF;
	padding:5px 7px;
	}  	
.blue_box h4, .sky_blue_box h4, .yellow_box h4, .red_box h4, .green_box h4{
	margin:5px 0;
	font-size:15px;
	}  	
.blue_box p, .sky_blue_box p, .yellow_box p, .red_box p, .green_box p{
	margin-bottom:0;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	}  	
.blue_box{
	background:#4d5f89;
	}
.sky_blue_box{
	background:#6c8eaf;
	}
.yellow_box{
	background:#f2b835;
	}
.red_box{
	background:#ce5133;
	}
.green_box{
	background:#a8cb24;
	}
	

.side_bar .nav_menus li a, 
.side_bar .nav_menus li a img, 
.side_bar .nav_menus li a:after, 
.main_content, 
.side_bar{
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.2s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	}
.wrapper{
	
	}	
.top_bar{
	position:fixed;
	top:0;
	left:0;
	right:0;
	height:35px;
	background:#023F7E;
	z-index:3;
	}
.side_bar{
	position:fixed;
	top:35px;
	left:0;
	bottom:0;
	width:200px;
	/*background:#0B4580;*/
	background:#005984;
	color:#FFF;
	z-index:2;
	}
.main_content{
	margin:35px 0 30px 200px;
	padding:px;
	min-height:200px;
	}

.top_bar .logo{
	display:block;
	float:left;
	width:200px;
	height:35px;
	background:#023F7E;
	color:#FFF;
	line-height:35px;
	text-align:center;
	font-size:15px;
	text-transform:uppercase;
	}
.top_bar .logo:hover{
	text-decoration:none;
	}
.top_bar .right_links{
	float:right;
	color:#899BAE;
	margin:0;
	padding:0;
	list-style:none;
	font-size:0;
	}
.top_bar .right_links > li{
	margin:0;
	padding:0;
	line-height:29px;
	display:inline-block;
	font-size:12px;
	}
.top_bar .right_links > li > a{
	display:block;
	padding:3px 10px 0;
	color: #D2D2D2;
	border-bottom:3px solid rgba(0,0,0,0);
	}
.top_bar .right_links > li > a > img{
	width:17px;
	height:auto;
	margin-right:3px;
	}
.top_bar .right_links > li > a:hover{
	text-decoration:none;
	border-bottom:3px solid rgba(0,0,0,0.2);
	}
.top_bar .right_links .dropdown .dropdown-menu{
	right:0;
	left:auto;
	}
.top_bar .toggle_menu_butn{
	padding:5px 7px;
	display:block;
	float:left;
	display:none;
	}
 
.side_bar .nav_menus{
	margin:10px 0;
	padding:0;
	list-style:none;
	}
.side_bar .nav_menus li{
	position:relative;
	}
.side_bar .nav_menus li a{
	display:block;
	color:#ECF5FF;
	padding:10px 15px;
	font-size:14px;
	vertical-align:middle;
	position:relative;
	}
.side_bar .nav_menus li a img{
	display:inline-block;
	vertical-align:middle;
	margin-right:5px;
	height:20px;
	width:20px;
	}
.side_bar .nav_menus > li > a:hover, 
.side_bar .nav_menus > li > a._active{
	background:rgba(0,0,0,0.1);
	text-decoration:none;
	color:#FFF;
	}
.side_bar .nav_menus > li > a:after, 
.side_bar .nav_menus > li > a:after{
	content:'';
	position:absolute;
	top:50%;
	right:0;
	margin-top:-6px;
	border:0px solid transparent;
	border-right-color:#FFF;
	}
.side_bar .nav_menus > li > a:hover:after, 
.side_bar .nav_menus > li > a._active:after{
	border-width:6px;
	}
.side_bar .nav_menus li .toggle-sub_menu{
	position:absolute;
	width:20px;
	height:20px;
	right:5px;
	top:11px;
	background:url(../images/plus_icon.png) center center no-repeat;
	background-size:80%;
	border:none;
	border-radius:0;
	opacity:0.5;
	transition:all 0.3 ease-in-out;
	-moz-transition:all 0.3 ease-in-out;
	-webkit-transition:all 0.3 ease-in-out;
	-o-transition:all 0.3 ease-in-out;
	}	
.side_bar .nav_menus li .toggle-sub_menu:hover{
	opacity:0.7;
	}
.side_bar .nav_menus li .toggle-sub_menu._active{
	background:url(../images/minus_icon.png) center center no-repeat;
	background-size:80%;
	}
.side_bar .nav_menus li ul{
	margin:0 0 0 35px;
	padding:0;
	list-style:none;
	background:rgba(0,0,0,0.05);
	display:none;
	}
.side_bar .nav_menus li._active ul{
	display:block;
	}
.side_bar .nav_menus li ul li{
	
	}
.side_bar .nav_menus li ul li a{
	font-size:95%;
	padding:3px 7px;
	color:rgba(255,255,255,0.6);
	}
.side_bar .nav_menus li ul li a:hover{
	text-decoration:none;
	color:#FFF;
	}
	
.error_class
{
	background:#FFF;*/
	border:1px solid #F00;
	
	
}
	
footer{
	position:fixed;
	z-index:1;
	bottom:0;
	left:200px;
	right:0;
	background:#FFF;
	color:#AAA;
	text-align:center;
	line-height:30px;
	border-top: 1px solid #DDD;
box-shadow: 0 0 5px rgba(0,0,0,0.15);
	}	
footer p{
	margin:0;
	padding:0;
	}
footer a{
	color:#777;
	}

.mar_left_15{
	margin-left:15px;
	}	
.pad_left_0{
	padding-left:0px;
	}	

.custom-tooltip-wrap{
	position:relative;
	cursor:pointer;
	}
.custom-tooltip-data{
	position:absolute;
	z-index:1;
	right:0;
	top:100%;
	background:#F5F5F5;
	padding:15px;
	border:1px solid #DDD;
	box-shadow:2px 2px 4px rgba(0,0,0,0.3);
	display:none;
	margin-top:5px;
	}
.custom-tooltip-data:before{
	content:'';
	display:block;
	height:0;
	width:0;
	border:7px solid transparent;
	border-bottom-color:#CCC;
	position:absolute;
	bottom:100%;
	right:7px;
	}
.custom-tooltip-data .table{
	margin:0;
	}
.custom-tooltip-wrap:hover .custom-tooltip-data{
	display:block;
	}
.custom-tooltip-wrap .custom-tooltip-data:hover{
	display:none;
	}

@media all and (max-width:768px){
	
.top_bar{
	height:70px;
	}
.top_bar .logo{
	float:none;
	width:100%;
	}
.top_bar .toggle_menu_butn{
	display:block;
	}
.side_bar{
	left:-200px;
	top:70px;
	overflow:auto;
	}

.main_content{
	margin:85px 0 0 0px;
	min-height:0;
	width:100%;
	}
	
body{
	overflow-x:hidden;
	}
body.opensidebar{
	overflow:hidden;
	}
body.opensidebar .side_bar{
	left:0px;
	}
body.opensidebar .main_content{
	margin-left:200px;
	}	
}	


div.pagination {
padding:3px;
margin:3px;
text-align:center;
}

div.pagination a {
padding: 2px 5px 2px 5px;
margin-right: 2px;
border: 1px solid #000; /*For box border*/

text-decoration: none; 
color: #000;
}
div.pagination a:hover, div.pagination a:active {
border:1px solid #000;
color: #FFF;
background-color: #000;
}
div.pagination span.current {
padding: 2px 5px 2px 5px;
margin-right: 2px;
border: 1px solid #000;
font-weight: bold;
background-color: #000;
color: #FFF;
}
div.pagination span.disabled {
padding: 2px 5px 2px 5px;
margin-right: 2px;
border: 1px solid #000;
color: #999;
}

.chosen_holder .chosen-container, 
.chosen_holder .chosen-container a {
	
	width:100% !important;
	
}


@media all and (min-width: 768px){
.modal-dialog.modal-large {
	width: 1000px;
	}
}